In [1]:
#Requisitos do problema:
#Utilizando os arquivos de dowload na pasta atividades com os arquivos: Clientes, ItensVendas, Produtos, Vendas, Vendedores

#1. Crie uma consultaque mostre nesta ordem, Nome, Estados e Status dos clientes
#2. Crie uma consulta que mostre apenas os clientes do status platinum e gold
#3. Demonstre quanto cada status de clientes representa em vendas

#Resolva com dataframes, faça joins se necessario

In [2]:
#Instalando as bibliotecas:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import col

In [3]:
#Criando o objeto spark:
spark = SparkSession.builder.appName("dataFrameUdemy").getOrCreate()

In [4]:
#Importanto arquivo clientes:
cliente = spark.read.format("parquet").load("/content/drive/MyDrive/download/Atividades/Clientes.parquet")

In [11]:
#Importando arquivo vendas:
venda = spark.read.format("parquet").load("/content/drive/MyDrive/download/Atividades/Vendas.parquet")

In [13]:
#Importando arquivo itensVendas:
itensVenda = spark.read.format("parquet").load("/content/drive/MyDrive/download/Atividades/ItensVendas.parquet")

In [5]:
cliente.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [6]:
#1. Crie uma consultaque mostre nesta ordem, Nome, Estados e Status dos clientes:
cliente1 = cliente.select("Cliente", "Estado", "Status").orderBy("Cliente")

In [7]:
cliente1.show(10)

+--------------------+------+--------+
|             Cliente|Estado|  Status|
+--------------------+------+--------+
|Adelina Buenaventura|    RJ|  Silver|
|        Adelino Gago|    RJ|  Silver|
|     Adolfo Patrício|    PE|  Silver|
|    Adriana Guedelha|    RO|Platinum|
|       Adélio Lisboa|    SE|  Silver|
|       Adérito Bahía|    MA|  Silver|
|       Aida Dorneles|    RN|  Silver|
|   Alarico Quinterno|    AC|  Silver|
|    Alberto Cezimbra|    AM|  Silver|
|    Alberto Monsanto|    RN|    Gold|
+--------------------+------+--------+
only showing top 10 rows

In [8]:
cliente2 = cliente.select("ClienteID", "Cliente", "Estado", "Genero", "Status").where((f.col("Status") == "Platinum") | (f.col("Status") == "Gold")).orderBy("Cliente")

In [37]:
#2. Crie uma consulta que mostre apenas os clientes do status platinum e gold:
cliente.select("ClienteID", "Cliente", "Estado", "Genero", "Status") \
    .where((f.col("Status") == "Platinum") | (f.col("Status") == "Gold")) \
    .orderBy("Status") \
    .show(20)

+---------+-------------------+------+------+--------+
|ClienteID|            Cliente|Estado|Genero|  Status|
+---------+-------------------+------+------+--------+
|       10|   Alberto Monsanto|    RN|     M|    Gold|
|       28|      Anna Carvajal|    RS|     F|    Gold|
|       49|      Bento Quintão|    SP|     M|    Gold|
|       68|      Carminda Dias|    AM|     F|    Gold|
|       83|      Cláudio Jorge|    TO|     M|    Gold|
|      121|    Dionísio Saltão|    PR|     M|    Gold|
|      166|   Firmino Meireles|    AM|     M|    Gold|
|      220|Honorina Villaverde|    PE|     F|    Gold|
|      237|  Iracema Rodríguez|    BA|     F|    Gold|
|        4|   Adriana Guedelha|    RO|     F|Platinum|
|      170|      Flor Vilanova|    CE|     M|Platinum|
|      230|    Ibijara Botelho|    RR|     F|Platinum|
|      247|         Joana Ataí|    GO|     F|Platinum|
+---------+-------------------+------+------+--------+

In [14]:
# Fazendo o Join entre as tabelas cliente e vendas conforme MER
novoDataFrame1 = cliente.join(vendas, on="ClienteID", how="inner")

In [34]:
novoDataFrame1.show(5)

+---------+-----------------+------+------+------+--------+----------+--------+--------+
|ClienteID|          Cliente|Estado|Genero|Status|VendasID|VendedorID|    Data|   Total|
+---------+-----------------+------+------+------+--------+----------+--------+--------+
|       91|   Cosme Zambujal|    BA|     M|Silver|       1|         1|1/1/2019|  8053.6|
|      185|Gertrudes Hidalgo|    PA|     F|Silver|       2|         6|1/1/2020|   150.4|
|       31| Antão Corte-Real|    ES|     M|Silver|       3|         7|2/1/2020|  6087.0|
|       31| Antão Corte-Real|    ES|     M|Silver|       4|         5|2/1/2019| 13828.6|
|       31| Antão Corte-Real|    ES|     M|Silver|       5|         5|3/1/2018|26096.66|
+---------+-----------------+------+------+------+--------+----------+--------+--------+
only showing top 5 rows

In [17]:
## Fazendo o Join entre as tabelas novoDataFrame2 e itensVenda conforme MER
novoDataFrame2 = novoDataFrame1.join(itensVenda, on="VendasID", how="inner")

In [33]:
novoDataFrame2.show(5)

+--------+---------+-----------------+------+------+------+----------+--------+------+---------+----------+-------------+----------+--------+----------------+
|VendasID|ClienteID|          Cliente|Estado|Genero|Status|VendedorID|    Data| Total|ProdutoID|Quantidade|ValorUnitario|ValorTotal|Desconto|TotalComDesconto|
+--------+---------+-----------------+------+------+------+----------+--------+------+---------+----------+-------------+----------+--------+----------------+
|       1|       91|   Cosme Zambujal|    BA|     M|Silver|         1|1/1/2019|8053.6|        2|         1|      7820.85|   7820.85|     -  |         7820.85|
|       1|       91|   Cosme Zambujal|    BA|     M|Silver|         1|1/1/2019|8053.6|        9|         1|        97.75|     97.75|    0,98|           96.77|
|       1|       91|   Cosme Zambujal|    BA|     M|Silver|         1|1/1/2019|8053.6|       10|         1|        135.0|     135.0|    1,35|          133.65|
|       2|      185|Gertrudes Hidalgo|    PA|     F|Silver|         6|1/1/2020| 150.4|        8|         1|        150.4|     150.4|    1,50|           148.9|
|       3|       31| Antão Corte-Real|    ES|     M|Silver|         7|2/1/2020|6087.0|        7|         1|        155.0|     155.0|     -  |           155.0|
+--------+---------+-----------------+------+------+------+----------+--------+------+---------+----------+-------------+----------+--------+----------------+
only showing top 5 rows

In [46]:
#3. Somando o valor das vendas de cada cliente.
dfTotal = novoDataFrame2.groupBy("ClienteID", "status").agg(f.sum("TotalComDesconto").cast("float").alias("SomaTotalComDesconto"))

In [57]:
dfTotal.show(5)

+---------+--------+--------------------+
|ClienteID|  status|SomaTotalComDesconto|
+---------+--------+--------------------+
|      233|  Silver|             76934.3|
|      230|Platinum|             9467.31|
|      241|  Silver|             5529.41|
|       31|  Silver|            580097.2|
|       46|  Silver|               97.75|
+---------+--------+--------------------+
only showing top 5 rows

In [60]:
#3. Demonstre quanto cada status de clientes representa em vendas
dfFinal = dfTotal.groupBy("status")\
.agg(f.sum("SomaTotalComDesconto")\
     .cast("float").alias("Total por categoria"))\
     .show()

+--------+-------------------+
|  status|Total por categoria|
+--------+-------------------+
|Platinum|            9467.31|
|  Silver|          2673780.0|
|    Gold|           21479.62|
+--------+-------------------+